# Testing
This will test things

In [1]:
import pandas as pd

df = pd.read_excel('/opt/data/default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [2]:
df.shape

(30000, 25)

In [3]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [4]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
df['ID'].nunique()

29687

In [6]:
id_counts = df['ID'].value_counts()
id_counts.head()

a9870d3e-b4d1    2
382b378c-6383    2
ea8d41fd-b8a3    2
a51dbaae-d88b    2
75938fec-e5ec    2
Name: ID, dtype: int64

In [7]:
id_counts.value_counts()

1    29374
2      313
Name: ID, dtype: int64

In [8]:
dupe_mask = id_counts == 2
dupe_mask[0:5]

a9870d3e-b4d1    True
382b378c-6383    True
ea8d41fd-b8a3    True
a51dbaae-d88b    True
75938fec-e5ec    True
Name: ID, dtype: bool

In [9]:
id_counts.index[0:5]

Index(['a9870d3e-b4d1', '382b378c-6383', 'ea8d41fd-b8a3', 'a51dbaae-d88b',
       '75938fec-e5ec'],
      dtype='object')

In [10]:
dupe_ids = id_counts.index[dupe_mask]

In [12]:
dupe_ids_list = list(dupe_ids)

In [13]:
df.loc[df['ID'].isin(dupe_ids_list[0:3]),:].head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
10666,382b378c-6383,100000,2,2,1,29,Not available,2,0,0,...,82320,83359,85837,0,5000,7000,2500,4000,0,0
10766,382b378c-6383,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22942,ea8d41fd-b8a3,80000,2,2,1,31,-2,-2,-2,-2,...,273,0,1542,2372,2988,273,0,1542,3200,0
23042,ea8d41fd-b8a3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29369,a9870d3e-b4d1,320000,1,2,2,28,0,-1,-1,2,...,74838,72402,71847,70891,7001,21,3012,3015,2713,0
29469,a9870d3e-b4d1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_zero_mask = df == 0

In [16]:
feature_zero_mask = df_zero_mask.iloc[:,1:].all(axis=1)

In [18]:
sum(feature_zero_mask)

315

In [19]:
df_clean_1 = df.loc[~feature_zero_mask,:].copy()

In [20]:
df_clean_1.shape

(29685, 25)

In [21]:
df_clean_1['ID'].nunique()

29685

In [22]:
df_clean_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29685 entries, 0 to 29999
Data columns (total 25 columns):
ID                            29685 non-null object
LIMIT_BAL                     29685 non-null int64
SEX                           29685 non-null int64
EDUCATION                     29685 non-null int64
MARRIAGE                      29685 non-null int64
AGE                           29685 non-null int64
PAY_1                         29685 non-null object
PAY_2                         29685 non-null int64
PAY_3                         29685 non-null int64
PAY_4                         29685 non-null int64
PAY_5                         29685 non-null int64
PAY_6                         29685 non-null int64
BILL_AMT1                     29685 non-null int64
BILL_AMT2                     29685 non-null int64
BILL_AMT3                     29685 non-null int64
BILL_AMT4                     29685 non-null int64
BILL_AMT5                     29685 non-null int64
BILL_AMT6                     29685 non-null int64
PAY_AMT1                      29685 non-null int64
PAY_AMT2                      29685 non-null int64
PAY_AMT3                      29685 non-null int64
PAY_AMT4                      29685 non-null int64
PAY_AMT5                      29685 non-null int64
PAY_AMT6                      29685 non-null int64
default payment next month    29685 non-null int64
dtypes: int64(23), object(2)
memory usage: 5.9+ MB

In [23]:
df_clean_1['PAY_1'].head(5)

0     2
1    -1
2     0
3     0
4    -1
Name: PAY_1, dtype: object

In [24]:
df_clean_1['PAY_1'].value_counts()

0                13087
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2378
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9
Name: PAY_1, dtype: int64

In [25]:
valid_pay_1_mask = df_clean_1['PAY_1'] != 'Not available'

In [26]:
valid_pay_1_mask[0:5]

0    True
1    True
2    True
3    True
4    True
Name: PAY_1, dtype: bool

In [27]:
sum(valid_pay_1_mask)

26664

In [28]:
df_clean_2 = df_clean_1.loc[valid_pay_1_mask,:].copy()

In [29]:
df_clean_2.shape

(26664, 25)

In [30]:
df_clean_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26664 entries, 0 to 29999
Data columns (total 25 columns):
ID                            26664 non-null object
LIMIT_BAL                     26664 non-null int64
SEX                           26664 non-null int64
EDUCATION                     26664 non-null int64
MARRIAGE                      26664 non-null int64
AGE                           26664 non-null int64
PAY_1                         26664 non-null object
PAY_2                         26664 non-null int64
PAY_3                         26664 non-null int64
PAY_4                         26664 non-null int64
PAY_5                         26664 non-null int64
PAY_6                         26664 non-null int64
BILL_AMT1                     26664 non-null int64
BILL_AMT2                     26664 non-null int64
BILL_AMT3                     26664 non-null int64
BILL_AMT4                     26664 non-null int64
BILL_AMT5                     26664 non-null int64
BILL_AMT6                     26664 non-null int64
PAY_AMT1                      26664 non-null int64
PAY_AMT2                      26664 non-null int64
PAY_AMT3                      26664 non-null int64
PAY_AMT4                      26664 non-null int64
PAY_AMT5                      26664 non-null int64
PAY_AMT6                      26664 non-null int64
default payment next month    26664 non-null int64
dtypes: int64(23), object(2)
memory usage: 5.3+ MB

In [31]:
df_clean_2['PAY_1'] = df_clean_2['PAY_1'].astype('int64')

In [34]:
df_clean_2[['PAY_1', 'PAY_2']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26664 entries, 0 to 29999
Data columns (total 2 columns):
PAY_1    26664 non-null int64
PAY_2    26664 non-null int64
dtypes: int64(2)
memory usage: 624.9 KB